@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #0f172a; /* slate-900 */
  color: #e5e7eb; /* gray-200 */
}
:root {
  --bg: #0f172a;        /* slate-900 */
  --panel: #111827;     /* gray-900 */
  --card: #1f2933;      /* gray-800 */
  --border: #374151;    /* gray-700 */
  --text: #e5e7eb;      /* gray-200 */
  --muted: #9ca3af;     /* gray-400 */
  --accent: #6366f1;    /* indigo-500 */
}
